.upload-container {
  
}

.upload-area {
    padding: 30px;
    border-radius: 20px;
    width: 500px;
    border: 4px dashed #43434343;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin-top: 50px;
}

.upload-image-logo {
    height: 250px;
    margin-bottom: 20px;
}

.scan-button-container {
    padding: 20px;
}

.scan-button {
    color: #434343 !important;
    background-color: #fa8900 !important;
    font-size: 20px !important;
    text-transform: none !important;
    border-radius: 16px !important;
    border: none;
}

.scan-button:hover {
    color: #ffffff !important;
    background-color: #fa8900 !important;
    font-size: 20px !important;
    text-transform: none !important;
    border-radius: 16px !important;
}